/* Tipografía */

@font-face {
  font-family: "shesho";
  src: url("./assets/fonts/AkzidenzGrotesk-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham-Book.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario-1: #222a68;
  --primario-2: #323e9a;
  --primario-3: #747fd2;
  --primario-4: #f5f5f5;
  --secundario-1: #e8871e;
  --secundario-2: #eea659;
  --secundario-3: #f3c390;
  --secundario-4: #fbebda;
  --brand-uno-1: #401f3e;
  --brand-uno-2: #7c3c78;
  --brand-uno-3: #af5aaa;
  --brand-uno-4: #d19fcd;
  --brand-dos-1: #ef7b45;
  --brand-dos-2: #f29469;
  --brand-dos-3: #f5af8e;
  --brand-dos-4: #f8cab4;
  /* Tipografía */
  --font-family-body: serif;
  --font-family-headings: sans-serif;
  /* Intención de los colores */
  --heading-descripcion-color: var(--secundario-1);
    --textosColor: var(--primario-1);
    --headingsColor: var(--primario-1);
    --backgroundColor: var(--secundario-4);
    --backgroundColorHeader: var(--primario-1);  /* Estilos: elevacion, transiciones & utils */
    --boxShadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    --boxhsadowDisabled: 0 1px 1px rgba(0, 0, 0, 0.1);
    --transition: all 0.4s ease-in-out;
    --transition-modes: background 500ms ease-in-out, color 1000ms ease-in-out;
    --dots: var(--primario) dotted 2px;
    /* Tipografía */
    --headingFonts: "Inter";
    --bodyFonts: "Inter";
    font-size: 112.5%; /* Tipografía default de textos en 18px en lugar de 16px, 100% = 16px & 112.5% = 18px */
    --h1: 40px;
    --h2: 33px;
    --h3: 27px;
    --h4: 24px;
    --h5: 19px;
    /* Posición */
    --headerHeight: 11vh;
  }
/****************************************
*    Base
*****************************************/
html {
  height: 100%;
}

body {
  font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headings);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 19px;
}

/****************************************
*    Temp
*****************************************/
/* TODO: Ejercicio aplicar estilos de figma a cajas */

/****************************************
*    Componentes
*****************************************/
body { 
  background-color: #222a68
  height:100%
}

nav {

}

/****************************************
*    Helpers
*****************************************/
[dots] {
  outline: rgba(255, 0, 0, 0.75) dotted 2px;
}
