@font-face {
  font-family: "Akzidenz";
  src: url("./assets/fonts/AkzidenzGrotesk-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham-Book.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Akzidenz";
  src: url("./assets/fonts/AkzidenzGrotesk-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham-Book.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario-1: #222a68;
  --primario-2: #323e9a;
  --primario-3: #747fd2;
  --primario-4: #f5f5f5;
  --secundario-1: #e8871e;
  --secundario-2: #eea659;
  --secundario-3: #f3c390;
  --secundario-4: #fbebda;
  --brand-uno-1: #401f3e;
  --brand-uno-2: #7c3c78;
  --brand-uno-3: #af5aaa;
  --brand-uno-4: #d19fcd;
  --brand-dos-1: #ef7b45;
  --brand-dos-2: #f29469;
  --brand-dos-3: #f5af8e;
  --brand-dos-4: #f8cab4;
  /* Intención de los colores */
  /* Tipografía */
  --font-family-body: "Gotham";
  --font-family-headings: "Akzidenz";
  --font-size: 100%;
  --h1: 40px;
  --h2: 33px;
  --h3: 27px;
  --h4: 24px;
  --h5: 19px;
  /* Estilos: elevacion, transiciones & utils */
  --boxShadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  --transition: all 0.4s ease-in-out;
  --transition-modes: background 500ms ease-in-out, color 1000ms ease-in-out;
  --dots: var(--primario) dotted 2px;
}
/****************************************
*    Base
*****************************************/
html {
  height: 100%;
}

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headings);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

/****************************************
*    Componentes
*****************************************/
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--primario-1);
}

.header {
  /* Propiedades de flex container */
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  /* Propiedades de flex item */
  flex: 1;
  /* Otras propiedades */
  color: var(--primario-4);
  background: var(--secundario-2);
}

.header > * {
  font-family: var(--font-family-body);
  font-size: 80px;
  font-weight: normal;
  line-height: 114px;
  letter-spacing: 0.0001em;
}

.header__nombre::before {
  content: "¿Okay? - ";
}

.menu {
  display: flex;
  flex-direction: column;
}

/*
.menu__item {
  position: relative;
}

.menu__item::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  z-index: -1;
}
*/

.menu__item > * {
  padding: 1ch;
}

.menu__item:nth-child(1) {
  background: var(--secundario-4);
}
.menu__item:nth-child(2) {
  background: var(--secundario-3);
}
.menu__item:nth-child(3) {
  background: var(--secundario-2);
}
.menu__item:nth-child(4) {
  background: var(--secundario-1);
}
.menu__item:nth-child(5) {
  background: var(--brand-dos-4);
}
.menu__item:nth-child(6) {
  background: var(--brand-dos-3);
}
.menu__item:nth-child(7) {
  background: var(--brand-dos-2);
}
.menu__item:nth-child(8) {
  background: var(--brand-dos-1);
}

summary {
  cursor: pointer;
  list-style-type: none;
}

summary::marker,
summary::-webkit-details-marker {
  display: none;
}

summary:focus {
  outline: none;
}

summary:hover {
  opacity: 0.8;
}

/*
.menu__item:nth-child(1)::before {
  width: 37%;
  background: var(--secundario-4);
}
.menu__item:nth-child(2)::before {
  width: 46%;
  background: var(--secundario-3);
}
.menu__item:nth-child(3)::before {
  width: 55%;
  background: var(--secundario-2);
}
.menu__item:nth-child(4)::before {
  width: 64%;
  background: var(--secundario-1);
}
.menu__item:nth-child(5)::before {
  width: 73%;
  background: var(--brand-dos-4);
}
.menu__item:nth-child(6)::before {
  width: 82%;
  background: var(--brand-dos-3);
}
.menu__item:nth-child(7)::before {
  width: 91%;
  background: var(--brand-dos-2);
}
.menu__item:nth-child(8)::before {
  width: 100%;
  background: var(--brand-dos-1);
}
*/

/*
.menu__item:nth-child(1) details[open] {
  background: var(--secundario-4);
}

.menu__item:nth-child(2) details[open] {
  background: var(--secundario-3);
}

.menu__item:nth-child(3) details[open] {
  background: var(--secundario-2);
}

.menu__item:nth-child(4) details[open] {
  background: var(--secundario-1);
}

.menu__item:nth-child(5) details[open] {
  background: var(--brand-dos-4);
}

.menu__item:nth-child(6) details[open] {
  background: var(--brand-dos-3);
}

.menu__item:nth-child(7) details[open] {
  background: var(--brand-dos-2);
}

.menu__item:nth-child(8) details[open] {
  background: var(--brand-dos-1);
}
*/

/****************************************
*    Helpers
*****************************************/
[outline] {
  outline: var(--dots);
}
