@font-face {
  font-family: "Akzidenz";
  src: url("./assets/fonts/AkzidenzGrotesk-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Akzidenz-regular";
  src: url("./assets/fonts/AkzidenzGrotesk-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham-Book.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario-1: #222a68;
  --primario-2: #323e9a;
  --primario-3: #747fd2;
  --primario-4: #f5f5f5;
  --secundario-1: #e8871e;
  --secundario-2: #eea659;
  --secundario-3: #f3c390;
  --secundario-4: #fbebda;
  --brand-uno-1: #401f3e;
  --brand-uno-2: #7c3c78;
  --brand-uno-3: #af5aaa;
  --brand-uno-4: #d19fcd;
  --brand-dos-1: #ef7b45;
  --brand-dos-2: #f29469;
  --brand-dos-3: #f5af8e;
  --brand-dos-4: #f8cab4;
  /* Intención de los colores */
  /* Tipografía */
  --font-family-body: "Gotham";
  --font-family-bold: "Akzidenz";
  --font-family-regular: "Akzidenz-regular";
  --font-size: 100%;
  --h1: 40px;
  --h2: 33px;
  --h3: 27px;
  --h4: 24px;
  --h5: 19px;
  /* Estilos: elevacion, transiciones & utils */
  --boxShadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  --transition: all 0.4s ease-in-out;
  --transition-modes: background 500ms ease-in-out, color 1000ms ease-in-out;
  --dots: var(--primario) dotted 2px;
}
/****************************************
*    Base
*****************************************/
html {
  height: 100%;
}

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-bold);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

/****************************************
*    Componentes
*****************************************/
.home {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-between; */
  background: url("./assets/imagenes/correcto.jpg") no-repeat center center
    fixed;
  background-size: cover;
}

.header {
  /* Propiedades de flex container */
  display: flex;
  flex-direction: column-reverse;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  /* Propiedades de flex item */
  flex: 1;
  /* Otras propiedades */
  color: var(--primario-4);
  /* background: var(--secundario-2); */
  height: 100vh;
}

.header > * {
  font-family: var(--font-family-regular);
  font-size: 60px;
  font-weight: normal;
  line-height: 90px;
  /* letter-spacing: 0.0001em; */
}

@media screen and (min-width: 40em) {
  .header > * {
    font-size: 110px;
    line-height: 114px;
    letter-spacing: 0.0001em;
  }
}

.categoria {
  display: flex;
  flex-direction: column;
}

.categoria__item > * {
  padding: 1ch;
}

.categoria__item:nth-child(1) {
  background: var(--secundario-4);
}
.categoria__item:nth-child(2) {
  background: var(--secundario-3);
}
.categoria__item:nth-child(3) {
  background: var(--secundario-2);
}
.categoria__item:nth-child(4) {
  background: var(--secundario-1);
}
.categoria__item:nth-child(5) {
  background: var(--brand-dos-4);
}
.categoria__item:nth-child(6) {
  background: var(--brand-dos-3);
}
.categoria__item:nth-child(7) {
  background: var(--brand-dos-2);
}
.categoria__item:nth-child(8) {
  background: var(--brand-dos-1);
}

summary {
  cursor: pointer;
  list-style-type: none;
}
summary h2 {
  color: var(--primario-1);
}

summary::marker,
summary::-webkit-details-marker {
  display: none;
}

summary:focus {
  outline: none;
}

summary:hover {
  opacity: 0.8;
}

/* Main */
.main {
  background: #222a68;
  color: white;
}

.main a {
  color: white;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.main a:hover {
  color: var(--secundario-1);
}

.main__description {
  max-width: 85vw; /* Máximo de 85% del viewport & margin-left + margin-right = auto centrar el contenido  */
  margin-top: 2rem;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-left: auto;
}

.main__description h2 {
  margin-bottom: 2rem;
}

/* Main social */
.main__social {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  width: 85vw;
  margin: 0 auto 4rem;
}

.main__social-item {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.main__social-item:nth-child(1) {
  gap: 3rem;
}

.main__social-item:nth-child(1) img {
  transform: translateX(0.7rem);
}

.main__social-item:nth-child(2) {
  gap: 2rem;
}

.main__social-item:nth-child(2) img {
  transform: translateX(0.3rem);
}

@media screen and (min-width: 50em) {
  .main__social {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: unset;
  }

  .main__social-item:nth-child(1),
  .main__social-item:nth-child(2),
  .main__social-item:nth-child(3) {
    gap: 1rem;
  }

  /* Esto resetea el transform aplicado en movil de instagram & telefono  */
  .main__social-item:nth-child(1) img,
  .main__social-item:nth-child(2) img {
    transform: none;
  }
}

/* Contenido categoria */
.categoria-contenido {
  background: #747fd2;
  display: flex;
  justify-content: center;
  gap: 60px;
}
.categoria-card {
}
.categoria-titulo {
  font-family: var(--font-family-regular);
  text-align: center;
  font-weight: 500;
  font-size: 27px;
  line-height: 32px;
  color: #222a68;
}
.categoria-imagen {
  background: #8b137b;
}
